.log-in{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: lightgray;
    min-height: 100vh;
}


.log-in div input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px + 2vmin);
    font-size: calc(8px + 2vmin);
    color: black;
    margin: 10px;
    padding: 10px;
}


.log-in div input::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(200px + 2vmin);
    font-size: calc(8px + 2vmin);
    color: black;
}


.log-in div button {
    display: flex;
    justify-content: center;
    align-items: center;
     height: calc(35px + 2vmin);
    width: calc(150px + 2vmin);
    font-size: calc(24px + 2vmin);
    border-radius: 10px;
    color: white;
    background: darkgrey;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}


.log-in div div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    width: 100%;
}


.log-in  .products{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.log-in  .products button{
    display: flex;
    justify-self: center;
    align-self: flex-end;
    width: 100px;
    height: 25px;
    font-size: 13px;
}